html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0d1117;
    color: #c9d1d9;
}

#navbar {
    background-color: #0d1117;
    width: 250px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align navbar content to the bottom */
    position: relative;
}

#navbar::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background-color: #0405073d;
}

.navbar-spacer {
    flex-grow: 1; /* Use flex-grow instead of flex */
}

#navbar.pulled-out {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

#navbar.pulled-out ~ #app {
    filter: brightness(0.5);
    background-color: rgba(0, 0, 0, 0.5);
}

#navbar-channels {
    margin-top: 8px;
    overflow: hidden scroll;
}

#navbar-bars {
    display: none;
}

@media screen and (max-width: 980px) {
    #navbar:not(.pulled-out) {
        display: none;
    }
    #navbar-bars {
        display: inline-block;
    }
}

.navbar-channel {
    padding: 8px 12px;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
    border-radius: 0 12px 12px 0;
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navbar-channel:hover {
    background-color: #161b22;
}

.navbar-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 12px;
    gap: 12px;
}

#navbar-join-room {
    width: 100%;
    padding: 1px 4px;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

#navbar-join-room:invalid {
    border-color: #d93025;
    border-style: dashed;
}

#navbar-join-room-button,
#navbar-logout-button {
    height: 28px;
    cursor: pointer;
}

.room-name {
    font-weight: 600;
    word-break: break-all;
}

.room-close {
    filter: saturate(0);
    cursor: pointer;
    height: 22px;
    transition: border-color 0.3s ease;
}

.room-close:hover {
    transition: border-color 0.3s ease;
    filter: none;
    border-color: #d93025;
}
