:root {
  --container-color: #161b22;
  --input-field-color: #0d1117;
  --accent-color: #0078d7;
  --accent-hover-color: #005a9e;
  --error-color: #d93025;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0d1117;
  color: #c9d1d9;
  position: relative;
}

.signin-container {
  padding: 48px 36px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  min-width: 260px;
  border-radius: 8px;
  background-color: var(--container-color);
  box-shadow: 0 1px 14px 1px rgba(0, 0, 0, 0.25);
}

.input-field {
  margin: 8px 0;
  padding: 2px 8px 8px 8px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: var(--input-field-color);
  color: #c9d1d9;
}

.blank-field {
  margin: 10px 0;
}

#signin-form {
  display: flex;
  flex-direction: column;
}

#username,
#password {
  padding: 6px;
  border-radius: 8px;
  width: calc(100% - 20px);
  background-color: var(--input-field-color);
  color: #c9d1d9;
  margin-top: 10px;
}

#username:invalid,
#password:invalid {
  border-color: var(--error-color);
  border-style: dashed;
}

input:required + legend::after {
  content: ' *';
  color: var(--error-color);
}

#password::-ms-reveal,
#password::-ms-clear {
  display: none;
}

#show-password {
  margin-top: 8px;
  cursor: pointer;
  color: #c9d1d9;
}

label[for=show-password] {
  cursor: pointer;
  color: #c9d1d9;
}

#logout-reason {
  margin: 0 0 10px;
  font-size: 12px;
  text-align: center;
  color: var(--error-color);
}

#logout-reason:empty {
  display: none;
}

.signin-header {
  font-size: 30px;
  margin: 0 0 16px;
  text-align: center;
  color: #c9d1d9;
}

#submit-button {
  margin: 12px 0 0;
  align-self: center;
  width: fit-content;
  padding: 8px 16px;
  background-color: var(--accent-color);
  color: #c9d1d9;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#submit-button:hover {
  background-color: var(--accent-hover-color);
}
